body{
  background: #002833;
  font-family: "Helvetica Neue"
}


.select{
  z-index: 100;
  position: absolute;
  margin: 8px;
}

#console-window{
  background: #000;
  border-radius: 8px;
  margin: 32px;
  padding: 16px;
  width: 50vw;
  height: 50vh;
  position: absolute;
  color: #fff;
  right: 0px;
  overflow: scroll;
}