body{
  background: #002833;
  font-family: "Helvetica Neue"
}


#menu{
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #333;
  margin: auto;
}

.btn{
  border-radius: 8px;
  border: 1px solid #111;
  width: calc(100% - 32px);
  padding: 16px;
  margin: 16px;
  cursor: pointer;
  background: #93a0a1;
}

.window{
  background: #001422;
  margin: 32px;
  padding: 8px;
  color: #93a0a1
}

.connect-info{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#data-info{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#video{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}